.iconColor {
    background-color: rgb(168, 161, 161) !important;
    cursor: pointer !important;

    &:hover {
        background-color: white !important;
    }
}

.button {
    background-color: white !important;
    color: black !important;
    outline: none !important;
    border: 2px solid white !important;
    border-radius: 0 !important;
    // font-family: Sackers-heavy;
    font-size: 24px;

    &:hover {
        background-color: black !important;
        color: white !important;
    }
}

.footerImageC {
    opacity: 0.5;
}

.footerImageC:hover {
    opacity: 1;
}

.main .hovered {
    display: none;
}

.main:hover .Credit {
    display: none;
}

.main:hover .hovered {
    display: block;
    font-family: TiemposHeadline-medium;
}

.link {
    text-decoration: none;
    cursor: pointer !important;
    font-family: TiemposHeadline-medium;

    &:hover {
        text-decoration: underline white !important;
    }
}

.din {
    font-family: TiemposHeadline-medium;
    letter-spacing: .3px;
    // font-size: 24px;
}

.footimg {
    width: 200px;
}

@media only screen and (min-width : 600px) {
    .firstDiv {
        justify-content: center !important;
        text-align: center !important;
    }

    .secondDiv {
        border-right: 2px solid white !important;
        text-align: end !important;
    }

    .thirdDiv {
        text-align: start !important;
    }

    .link {
        margin: 2% 0 0 0;
    }
}

@media only screen and (min-width : 950px) {
    .secondDiv {
        border-left: 2px solid white !important;
        border-right: 2px solid white !important;
        text-align: center !important;
    }
}

@media only screen and (max-width : 650px) {
    .accessibility {
        flex-direction: column !important;
        align-items: flex-start !important;
    }

    .link {
        margin-bottom: 5% !important;
    }
}